.mdl-card__text{
  padding: 0 16px;
}

.mdl-card__action-bar{
  padding: 0 8px;
  margin: 10px 0;
  display: flex;
}

.material-icons.indigo100{
  color: #8C9EFF;
}

.material-icons.indigo500{
  color: #3F51B5;
}

.like-display{
  font-size: 15px;
  padding-top: 7px;
  margin-bottom: 0px;
}

.pageTitle{
  cursor: pointer;
  cursor: hand;
}

.review-card.mdl-card{
  width: 100%;
}

.review-card > .review-date{
  height: 10px;
}

.searchBox {
  padding: 10px 0;
}
