.pageHeading{
  font-family: 'Roboto';
  margin-left: 17.5%;
}
.pageTitle{
  margin-bottom: 1px;
}
.pageDescription{
  font-style: italic;
  margin-top: 1px;
}
.review{
  border-bottom: 1px solid #aaa;
  width: 65%;
  margin-left: 17.5%;
  padding: 10px 0px;
  font-family: 'Roboto';
}
.reviewDate{
  font-family: 'Roboto';
  font-size: 13px;
  font-style: italic;
}
.reviewTitle{
  margin-bottom:1px;
}

.searchForm{
  display: inline;
  float: right;
  width: 30%;
  margin-right: 21.5%;
  padding-right: 0;
}

.searchBox{
  width: 60%;
}

.submitButton{
  float: right;
  width: 30%;
}

.loadMoreButton{
  width: 20%;
  margin-left: 40%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 15px;
  color: #444;
  font-family: 'Roboto';
  border-radius: 5px;
  border-width: 1px;
  border color: #999;
  background-color: white;
}
